arrow==1.2.2
beautifulsoup4==4.10.0
Django<=4.1.0
django-environ==0.8.1
django-fortune==1.1.1
djangorestframework==3.13.1
feedparser==6.0.8
httpx==0.22.0
newspaper3k==0.2.8
opml==0.5
pypandoc==1.7.2
rich==11.2.0
