<div class="col-xs-2 col-md-2 col-lg-2 shadow-sm p-3 mb-5 rounded">
    <h1>
        <i class="fas fa-seedling"></i> <a href="{% url 'home' %}">뉴스 - Nyuseu - News</a>
    </h1>
    <hr>
    <ul class="nav">
    {% for line in folders %}
        <li class="nav-item">
        <i class="fas fa-leaf"></i>
        <small>{{ line.title }} {% if line.unread > 0 %}<span class="badge badge-secondary">{{ line.unread }}</span>{% endif %}</small>
          <ul class="nested">
            {% for feed in line.feeds_set.all %}
              <li class="nav-item">
                  <small><a href="{% url 'feeds' feed.id %}">{{ feed.title }}</a> {% if feed.articles_set.unreads.count > 0 %}<span class="badge badge-secondary">{{ feed.articles_set.unreads.count }}</span>{% endif %}</small>
              </li>
            {% endfor %}
          </ul>
        </li>
    {% endfor %}
    </ul>
</div>
