{% extends "base.html" %}
{% block content %}
<div class="col-xs-10 col-md-10 col-lg-10">
    <div class="col mb-4 card-deck shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card">
            {{ object.image | safe }}
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.date_created }}</h6>
                <p class="card-text">{{ object.text | safe }}</p>
            </div>
            {% include "nyuseu/article_footer.html" with id=object.id read=object.read read_later=object.read_later source_url=object.source_url %}
        </div>
    </div>
</div>
{% endblock %}
