
    <div class="col-xs-1 col-md-1 col-lg-1 mt-3">
        <span style="font-size: 1em; color: Dodgerblue;"><i class="fas fa-eye-slash"></i></span> <a href="{% url 'folders' folders_id %}">Unread</a>
    </div>

    <div class="col-xs-2 col-md-2 col-lg-1 mt-3">
        <span style="font-size: 1em; color: Dodgerblue;"><i class="fas fa-eye-slash"></i></span> <a href="{% url 'folders_marked_as_unread' folders_id %}">Mark all Unread</a>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-1 mt-3">
        <span style="font-size: 1em; color: Mediumslateblue;"><i class="fas fa-eye"></i></span> <a href="{% url 'folders_marked_as_read' folders_id %}">Mark all Read</a>
    </div>
