{% extends "base_board.html" %}
{% block refresh %}
<meta http-equiv="refresh" content="1800">
{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-12 col-lg-12">
    {% if name %}
    <h2>{{ name }}'s board</h2>
    {% endif %}
    <div class="row row-cols-6 row-cols-md-6">
    {% for board in object_list %}
        {% if forloop.counter <= 32 %}
            {% for article in board.feeds.articles_set.all %}
                {% if forloop.first %}
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ article.source_url }}" title="Go to read the full article">{{ article.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.date_created }}
                        | <a href="{% url 'feeds' board.feeds.id %}" title="List all articles from {{ board.feeds.title }}"><span class="badge bg-success">{{ board.feeds.title }}</span></a>
                        | <a href="{% url 'folders' board.feeds.folder.id %}" title="List all articles from {{ board.feeds.folder.title }}"><span class="badge bg-secondary">{{ board.feeds.folder.title }}</span></a>
                    </h6>
                </div>

            </div>
        </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
